h1 {
    color: white;
    margin: 20px 0px;
}
.background {
    height: 620px;
    width: 100%;
    background-color:#0F1113;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.container-contact {
    display:flex;
    justify-content: center;
    align-items: center;
    width:70%;
    margin-top: 20px;
}

.container-form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height:auto;
    justify-content: space-around;
    margin: 20px 0px 0px 80px;
}

#logo-email {
    width:400px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.container-form button {
    height: 40px;
    width: 200px;
    text-align: center;
    font-weight: 600;
    position: center;
    cursor: pointer;
    margin-top: 40px;
    border-radius: 15px;
    color: #fff;
    border: 3px solid #5A67D8;
    background-image: -webkit-linear-gradient(30deg, #5A67D8 50%, transparent 50%);
    background-image: linear-gradient(30deg, #5A67D8 50%, transparent 50%);
    background-size: 500px;
    -webkit-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
}

button:hover {
    background-position: 100%;
    color: #7A84F3;
    background-color: transparent;
}

input {
    margin-bottom: 20px;
    height:30px;
    border:none;
}

textarea {
    height:100px
}

input, textarea {
    border-radius: 2px;
}

.container-form label {
    margin-bottom:10px;
    font-weight:500;
    color:white;
}

.bouton {
    display: flex;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width:1120px) {
    .container-form {
        width:70%
    }
}

@media screen and (max-width:1120px) {
    #logo-email {
        width:350px;
    }
}

@media screen and (max-width:992px) {
.container-contact {
    flex-direction: column;
}
#section-4 {
    height: auto;
    padding-bottom: 50px;
}
#logo-email {
    margin: 10px 0px 40px 0px;
}
.container-form {
    margin-left: 0px;
}

input {
    height:35px
}
}

@media screen and (max-width:576px) {
#logo-email {
        width:300px;
    }
.container-form {
   width:80%;
}
}