#navbar {
    display: flex;
    width:100%;
    background-color:#4a4d67;
    position: fixed;
    z-index: 33;
    height:80px;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 50px;
    height:50px;
}

.nav-list{
display: flex;
align-items: center;
justify-content: center;
height: 80px;
color:#CBD5E0;
list-style-type: none;
margin: 0;
padding-left: 10px;
font-size: 18px;
}

.nav-list li {
    margin: 20px;
}

#logo2 {
    height: 50px;
    width: 50px;
    display: none;
    left:30px;
    position: fixed;
}

.btn {
    display: none;
    border-style: none;
    transform: rotate(90deg);
    font-size: x-large;
    z-index: 999;
    background-color:#4a4d67;
  }

@media screen and (max-width:992px) {
    .nav-list {
        flex-direction: column;
        height: auto;
    }
    
    nav {
        z-index: 999;
        position: relative;
    }

    .btn {
        display: flex;
        height: 100%;
        position: absolute;
        right: 30px;
        color: #f0ffff;
        cursor: pointer;
      }

      #logo2 {
        display: block;
        left:50px;
    }

}

li a {
    text-decoration: none;
    color:white;
    scroll-behavior: smooth;
}
